body{
	counter-reset: inventorybutton;
}
.character-select-dialog .inventory button{
	position: relative;
}
.character-select-dialog .inventory button::before {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px;
	background-color: #000;
	color: #ff0;
	counter-increment: inventorybutton;                  
	content: counter(inventorybutton); 
}
#loadout{
	padding: 5px;
	background-color: rgb(33, 161, 29);
	cursor: pointer;
	max-width: 120px;
	margin:auto;
}

a.blumActive{
	text-decoration:underline;
}
.charSelFilter a{
	cursor:pointer;
}
#blumIcon{
	border-radius: 50%;
	box-shadow: 0 0 10px 5px #f00;
	position: absolute;
	top: 40%;
	right: 0;
	overflow:hidden;
	width:48px;
	height:48px;
	display: block;
	background: #000;
	cursor: pointer;
}
#blumMenu{
	position: absolute;
	top: 40%;
	right: 40px;
	background: #000;
	box-shadow: 0 0 5px 2px #f00;
	padding: 10px;
	margin-top: 24px;
	display:none;
}
#blumMenu ul{
	list-style-type: none;
    padding: 0;
	margin: 0;
}
#blumMenu a{
	color: #f00;
	text-decoration: none;
}
.toggleBlumMenu{
	font-size: 12px;
	color: #fff !important;
}
#blumMenu ::marker{
	content: "";
}
#recipes-subheader{
	background: #1f202a;
}
#crafting .recipes nav{
	height: 98%;
}

#recipes-subheader{
	line-height:18px !important;
}
.recipe-item-preview{
	display: none;
}
.recipeFilter{
	padding: 5px 0;
}

.recipeFilter a{
	color: #fff;
	font-size: 16px;
	margin-right: 5px;
}
.recipeFilter a.blumActive, .equippable{
	color: #0f0;
}

.character-overview .inventory {
    width: 660px !important;
    max-height: 320px !important;
}

.itemDetails div{
	padding-left: 0.5rem;
}

.itemDetails div.itemDetailsHeader{
	padding-left: 0; 
}

.tile-wrapper .player:after{
	/*background: radial-gradient(transparent 30px,rgba(0,0,0,.9) 5%);*/
	background: transparent !important;
}

*{
  animation-delay: 0s !important;
}